html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 320px;
  max-width: 550px;
  margin: 0 auto;
}
